---
- name: Prepare environment
  hosts: localhost
  connection: local
  tasks:
    - name: Install requirements from galaxy
      ansible.builtin.command:
        cmd: ansible-galaxy collection install -r {{ playbook_dir }}/requirements.yml
      changed_when: false

- name: Orchestrate K3s Cluster
  import_playbook: k3s.orchestration.site


- name: Deploy GCP CSI Driver to K3s Cluster
  hosts: localhost
  connection: local
  gather_facts: false  
  vars:
    ansible_python_interpreter: "{{ ansible_playbook_python }}"
    k8s_kubeconfig: "~/.kube/config" 

  tasks:
    - name: Create CSI Driver Namespace
      kubernetes.core.k8s:
        name: gce-pd-csi-driver
        kind: Namespace
        state: present

    - name: Create GCP Service Account Secret
      kubernetes.core.k8s:
        state: present
        definition:
          apiVersion: v1
          kind: Secret
          metadata:
            name: csidriverkey
            namespace: gce-pd-csi-driver
          type: Opaque
          data:
            csi_driver_key_file.json: "{{ lookup('file', '~/.secrets/csi_driver_key_file.json') | b64encode }}"

    - name: Deploy GCE PD CSI Driver
      kubernetes.core.k8s:
        kubeconfig: "{{ k8s_kubeconfig }}"
        state: present
        src: "{{ playbook_dir }}/k8s.manifests/gcp-compute-persistent-disk-csi-driver-specs-generated.yaml"
        
    - name: Deploy StorageClass
      kubernetes.core.k8s:
        kubeconfig: "{{ k8s_kubeconfig }}"
        state: present
        src: "{{ playbook_dir }}/k8s.manifests/gcp-csi-storageclass.yaml"               

    - name: Create Secret for repo reading
      kubernetes.core.k8s:
        state: present
        definition:
          apiVersion: v1
          kind: Secret
          metadata:
            name: registry-gcp-key
            namespace: default
          type: kubernetes.io/dockerconfigjson
          data:
            .dockerconfigjson: "{{ {
                'auths': {
                  'europe-west4-docker.pkg.dev': {
                    'username': '_json_key',
                    'password': lookup('file', '~/.secrets/key.reporeader.klustery.json') | from_json | to_json,
                    'auth': ( '_json_key:' + lookup('file', '~/.secrets/key.reporeader.klustery.json') ) | b64encode
                  }
                }
              } | to_json | b64encode }}"


    - name: Deploy testy-pod
      kubernetes.core.k8s:
        kubeconfig: "{{ k8s_kubeconfig }}"
        state: present
        src: "{{ playbook_dir }}/k8s.manifests/testy-pod-manifest.yaml"        