- name: Install tooling on Fedora
  when: ansible_distribution == "Fedora"
  dnf:
    name:
      - iperf
      - traceroute
      - nmap-ncat
      - nmap
      - whois
      - bind-utils
    state: present
