- name: Install tooling on Fedora
  when: ansible_distribution == "Fedora"
  dnf:
    name:
      - iperf
      - traceroute
      - nmap-ncat
      - nmap
      - whois
      - bind-utils
      - wireguard-tools
      - iptables
    state: present

- name: Activate IP Forwarding
  become: true
  ansible.posix.sysctl:
    name: net.ipv4.ip_forward
    value: '1'
    state: present
    reload: true
